<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>black</key>
	<dict>
		<key>logoText</key>
		<string>FFFFFF</string>
		<key>iamText</key>
		<string>ffc500</string>
		<key>chooseHero</key>
		<string>FFFFFF</string>
		<key>chooseHeroList</key>
		<string>0069be</string>
		<key>mainTheme</key>
		<string>90019c</string>
		<key>downArrow_bg</key>
		<string>0069be</string>
		<key>chooseHero_bg</key>
		<string>14152b</string>
		<key>txt_bg</key>
		<string>0d193f</string>
		<key>txtField</key>
		<string>FFFFFF</string>
		<key>carousel_bg</key>
		<string>101238</string>
		<key>carousel_lbl_bg</key>
		<string>15215c</string>
		<key>carousel_lbl_text</key>
		<string>FFC500</string>
		<key>like</key>
		<string>FFFFFF</string>
		<key>dislike</key>
		<string>AAAAAA</string>
		<key>bg_top</key>
		<string>0A0A1E</string>
		<key>bg_bottom</key>
		<string>0F1135</string>
		<key>general</key>
		<string>FFFFFF</string>
	</dict>
</dict>
</plist>
